<!DOCTYPE html>
<!--引用命名空间-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基于Thymeleaf实现</title>
</head>
<body>
<h2><a href="/browwertmf">刷新数据</a> </h2>
<table align="center" width="80%">
    <thead>
    <tr>
        <th>序号</th>
        <th>借款金额</th>
        <th>利息</th>
        <th>时长</th>
        <th>开始日期</th>
    </tr>
    </thead>
    <tbody>
    <!--使用循环
    each 遍历集合 使用格式：元素名称:${四大域中Attribute名称}}-->
    <tr th:each="b:${brows}">
        <!--th:text 获取集合的元素内容：格式${}}-->
        <td align="center" th:text="${b.id}"></td>
        <td align="center" th:text="${b.money/100.0}"></td>
        <td align="center" th:text="${b.lx}"></td>
        <td align="center" th:text="${b.month}"></td>
        <td align="center" th:text="${b.startDate}"> </td>
    </tr>
    </tbody>
</table>
</body>
</html>